# Pandas (and a bit of numPy) introduction Workshop

DISCLAIMER: I am normally a C# developer and my style of coding might not always be following the "pythonic" way. I am no fan of snake case and prefer camelCase for functions and variables and PascalCase for Classes. Even if this might shine trough in this document, you can write the code however you like. If you want to learn Python the "pythonic" way, then use snake case for variables and functions.

This workbook is created for Python 3.6.x and above. Some of the language basics shown here is not available for earlier versions of Python.

Examples provided in this notebook should suffice to solve most of the exercises given. But if you want to get right to the documentation for the libraries we are using then you can quickly access them using the links below:

 - Python documentation: [docs.python.org](docs.python.org).
 - Jupyter documentation: [jupyter-notebook.readthedocs.io](https://jupyter-notebook.readthedocs.io/en/stable/notebook.html).
 - NumPy documentation: [docs.scipy.org](https://docs.scipy.org/doc/numpy/user/index.html)
 - Pandas documentation [pandas.pydata.org](https://pandas.pydata.org/pandas-docs/stable/)
 

## Workbook organization

The workbook in organized with explanation, examples and exercies all in same workbook. The exercies will come at multiple points during the workbook and there is no single placement of all exercises like last. So best way is to read the workbok top to bottom and do the exercises along the way.

If you want direct access to the exercieses the following links should take you there:

 - [Exercise 1 - Testing out Jupyter](#Exercise-1---Testing-out-Jupyter)
 - [Exercise 2 - Multiple cells](#Exercise-2---Multiple-cells)
 - [Exercise 3 - Wash data (NumPy)](#Exercise-3---Wash-data-(NumPy))
 - [Exercise 4 - More washing of data (NumPy)](#Exercise-4---More-washing-of-data-(NumPy))
 - [Exercise 5 - Import data (Pandas)](#Exercise-5---Import-data)
 - [Exercise 6 - Wash the data (Pandas)](#Exercise-6---Wash-the-data)
 - [Exercise 7 - Filtering (Pandas)](#Exercise-7---Filtering)
 - [Exercise 8 - Create a DataFrame using results (Pandas)](#Exercise-8---Create-a-DataFrame-using-results)
 - [Exercise 9 - Create new columns / features (Pandas)](#Exercise-9---Create-new-columns-(features))

## Jupyter Notebooks crash course

This is a Jupyter notebook. Opening this notebook is a proof that you have read the initial `README` file for this workshop. Congratulations!

A Jupyter Notebook is a interavtive REPL (read–eval–print loop) tool. You can think of it as a "advanced" markdown editor with a built-in coding possibility. 
There are two terms that might be new if you have never used or seen a Jupyter Notebook before.

 - `Kernel` - A "process" that executes the code that are written in a notebook. You can look on it as a runtime. There are kernels for multiple languages. Python, R, Julia, C#, Java are some of them.
 - `Cell` - A notebook is split up in multiple cells. A cell is a container for ether text or code.
 
 <img src="img/Notebook-interface.png" alt="Drawing" style="width: 600px;"/>

### Cells

Cells are the main components in a workbook. There are 3 cell types, but we will only cover two of them. The `Raw` cell type will note be used.

The two cell types we will be using is:

 - `Code cell` - This cell contains the code that will be executed
 - `Markdown cell` - This cell contains markdown that will be rendered when executed.

When you start a notebook there will always be one cell ready. This cell is a `code cell`. 
All new cells that are created will be a `code cell` by default. 
You have to change it to a `markdown cell` if you want to write markdown instead.

![Notebook menu](img/Notebook-menu.png)

To change it to a markdown cell you just have to press `m` when you have the cell selected. (Not when the cursor is inside the cell).
To change it back to a code cell you do the same and press `y` instead. 
You can also do this by using the dropdown at the top of the notebook indicating the cell type. (As marked in orange in the image)

To execute a cell you can press `Shift-Enter`. This executes a cell and creates a new code cell after that cell if there is no other cell to advance to.
If you press `Ctrl-Enter` instead you execute a cell, but do not advance to the next cell or create a new cell.
You can also execute or stop the execution of a cell by using the start and stop buttons highlighted in yellow and green in the image above.

The results of a cell execution will be printed beneath the cell if the cell is a code cell. If it is a markdown cell then the resulting html of the markdown will be shown in the cell instead.

To quickly edit a markdown cell after it has been rendered, you can just press `Enter`.

### Exercise 1 - Testing out Jupyter

So now that you have recieved a crash course in the use of Jupyter Notebooks. Let us give it a try!

First exercercise is to write a python snippet that prints hello world. The expected result is the words "Hello world" printed beneath the cell.

In [ ]:
# Exercise 1 - Hello jupyter world!
#
# Write the code below

### Scope

Great! You hav now run your first cell in a Jupyter Notebook! 

The code in each code cell belongs to the same scope.
So this means that variables, functions or classes declared in one cell can be used in another cell. (So imports as well)
Just remember to run the cell firsts. If a cell has not been run, the code it contains are not run and any variables, functions or classes are not declared.

So let us test this out as well.

**NOTE:** If a variable, function or class has been declared in a cell, and the cell has been executes. Than the variable will exist as long as the workbook are runnuing.
Even if you clear out the cell and run the cell again.

### Auto complete

Jupyter Notebooks has a limited support for autocomplete. If you press `TAB` then it will try to help you with autocompletion.

If you need to look up the docstring on any Python code then you can move your cursor to the keyword, method or class and press `Shift-Tab` for the docstring if there exists one.

### Exercise 2 - Multiple cells

Create string variable containing "Hello world" in one cell and print the content of that string in another cell

In [ ]:
# Exercise 2 - Create your variable here
#
# Write the code below

In [ ]:
# Exercise 2 - Print your variable to the console here
#
# Write the code below

## NumPy

NumPy is a Python package that are mainly used for scientific computing. It has a near C like performance. [[ref](https://www.ibm.com/developerworks/community/blogs/jfp/entry/A_Comparison_Of_C_Julia_Python_Numba_Cython_Scipy_and_BLAS_on_LU_Factorization?lang=en)] 

It is used to process arrays, multidimensional arrays and to perform mathematical operations on these arrays.

NumPy’s array class is called `ndarray`. It is also known by the alias `array`. Note that `numpy.array` is not the same as the Standard Python Library class `array.array`, which we covered in the previous workshop and is not really recomended to use. (It was very limited in what it could do.)

As well as multiple functions to process arrays, NumPy also has support for more data types than what Python has. This a long list that I will not paste here, but if you like to know more about the data types you can play around with then you can visit the documentation on [Data Types] (https://numpy.org/devdocs/user/basics.types.html)

Many of the methods in the library and methods on the `ndarray` class has a optional `axis: int` parameter. This can be a confusing paramter to use. If you want to do the operartion on the **columns** then you can pass along `axis=0`. And if you want to do the operation on the **rows** then you can pass along `axis=1`. If no axis is supplied then `None` is the default value and the operation will be on all the values in the multidimensional array.

So let us see some of what NumPy can do:

In [ ]:
import numpy as np

# Create a array with range from 0 to 15. (Very much same as range(), just a ndarray instead of an sequence)
array: np.ndarray = np.arange(15)
print(array)

In [ ]:
# Reshape the array into a multidimensional array
multidim: np.ndarray = array.reshape(3,5)
print(multidim)

In [ ]:
# You can also create a array by using the np.array() method
array: np.ndarray = np.array([1,2,3,4])
print(array)

In [ ]:
# create empty arrays using np.zeroes()
array: np.ndarray = np.zeros((3,4))
print(array)

In [ ]:
# Arithmetic operators on arrays apply elementwise. A new array is created and filled with the result.
a: np.ndarray = np.array([20,30,40,50])
b: np.ndarray = np.array([0,1,2,3])
print(a-b)
print(a*b)

In [ ]:
# NOTE: The product operator * operates elementwise in NumPy arrays. 
#       The matrix product can be performed using the @ operator (in python >=3.5) 
#       or the dot function or method

print(a @ b)
print(a.dot(b))

In [ ]:
# Flatten a multidimensional array back to a linear one
flatarray: np.ndarray = array.ravel();
print(flatarray)

In [ ]:
# NumPy array indexing is identical to Python's indexing scheme
print(multidim[0])
print(multidim[0][2])

In [ ]:
# You can also select elements in the array by conditions
# Like this where we select all items that is "NaN" in the array
a: np.ndarray = np.array([20,30,np.nan,50])
print(a[np.isnan(a)])

In [ ]:
# Python's concept of lists slicing is extended to NumPy.

print(multidim[::-1]) # Reverse the rows
print(multidim[::2])  # Every second row
print(multidim[::,::2]) # Every second column
print(multidim[0:2, 0:2]) # First two rows and the first two columns

In [ ]:
# ndarray usefull attributes

print(multidim.shape) # Returns a tuple consisting of array dimensions
print(multidim.ndim) # Attribute returns the number of array dimensions
print(multidim.itemsize) # Returns the length of each element of array in bytes

In [ ]:
# Useful methods

# Average (Entire array)
avg: float = np.average(np.array([[1,2,3,2,3],
                                 [4,3,4,5,6]]))
print(avg)

# Average (By rows)
avg = np.average(np.array([[1,2,3,2,3],
                           [4,3,4,5,6]]), axis=1)
print(avg)

# Average (By columns)
avg = np.average(np.array([[1,2,3,2,3],
                           [4,3,4,5,6]]), axis=0)
print(avg)

# NOTE: The axis parameter determines if the average should be done over rows or columns. 
#       If no axis is set then entire array is used.
#       This parameter named "axis" is present on many of the NumPy methods. Including sum described below.

# Sum
sum: float = np.sum(np.array([1,2,3,2,3,4,3,4,5,6]))
print(sum)

# Intersect
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

### Exercise 3 - Wash data (NumPy)

Given the multidimensional array below. Remove all rows that contains NaN.

Expexted output: 
```
[[ 1.  2.  3.  4.]
 [10.  3.  7.  6.]
 [ 6.  8. 15.  4.]]
```

In [ ]:
# Exercise 3 - Wash the numpy data
#
# Write the code below

import math
array: np.ndarray = np.array([[1,2,3,4],
                              [10,3,7,6],
                              [3,math.nan,3,9],
                              [6,8,15,4]])

nanInRow: np.ndarray = np.array([~np.any(np.isnan(row)) for row in array])
washedArray: np.ndarray = array[nanInRow]
print(washedArray)

### Exercise 4 - More washing of data (NumPy)

Given the same array as in exercise 3, instead of removing the "bad" row. Lets wash the data and insert the average of the resulting array from exercise 3 instead of `nan`.

Expexted output: 
```
[[ 1.,  2.,  3.,  4.],
[10.,  3.,  7.,  6.],
[ 3., 5.75,  3.,  9.],
[ 6.,  8., 15.,  4.]])
```

In [ ]:
# Exercise 4 - More washing of data
#
# Write the code below

array[np.isnan(array)] = np.average(washedArray)
print(array)

## Pandas

Pandas is widely used library that is used to _wrangle_ the data. The name stands for “Python Data Analysis Library”.

Pandas can open and read files of the following types:

 - CSV
 - Json
 - HTML
 - MS Excel
 - OpenDocument
 - HDF5
 - Feather
 - Parquet
 - Msgpack
 - Strata
 - SAS
 - Python Pickle
 
It can also connect to many different SQL databases. Some are:

 - SQLite
 - MySQL
 - PostgreSQL
 - MariaDB
 - SQL Server (using pyodbc library)

Pandas reads data into a `DataFrame`. This is a Python object with rows and columns. For people with experience with `R` then this is very similar to the built-in datatype in R. 
The `DataFrame` can be viewed as a tabular data model. Using Pandas we can work with data in a very "_SQL like way", just better! I often just reads datasets from a database and wrangle the data using Pandas instead of writing a very intricate SQL query that would do the same.)

Pandas has mainly two datatypes that we will use:
 - `Series`
 - `DataFrame`

The `DataFrame` is built up of a set of `Series`. 
A column in a DataFrame is a Series. A row in a DataFrame is a value in multiple series that has the same index. (Most often a timestamp, ID or could just be a incremented counter.)
You can name both columns and rows if you like. Columns wil often use the header available in the source files for names. But you can rename them easily enough later for easier reading.

Using Pandas you can work on `DataFrame`s using the many built-in functions on the DataFrame class. We will go trough a subset of the functions below.


### Creating a DataFrame

You can open multiple types of files using Pandas. Here are some functions to read different data files. If you want to have a look at all the functions available for opening files then you can have a look at [IO Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [ ]:
import pandas as pd

# Open file (Text, Csv, Excel, Json, etc)
csvdata: pd.DataFrame = pd.read_csv("data/titanic_test.csv")
    
# Open Json
jsondata: pd.DataFrame = pd.read_json("data/iris.json")

# Open json from a url
urldata: pd.DataFrame = pd.read_json("https://raw.githubusercontent.com/ETroll/python-pandas-workshop/master/data/data.json")

    
# Using local data from memory
data: dict = { 
     'letters' : ["a", "b", "c", "d", "e","f", "g"],
     'numbers' : [20,27, 35, 55, 18, 21, 35],
     'data': ["AA", "BB", "CC", "DD", "EE", "FF", "GG"]
}
dictdata: pd.DataFrame = pd.DataFrame(data)

### Inspecting a DataFrame (or Series)

In [ ]:
# Show the top 5 rows
csvdata.head(5)

In [ ]:
# Show the last 5 rows
csvdata.tail(5)

In [ ]:
# Show statistics about the data
csvdata.describe()

In [ ]:
# Get the 5 first from the "Names" column
csvdata["Name"].head(5)

### Statistics on DataFrame

There are many methods to get basic statistics of the data inside a DataFrame. These methods uses the same `axis` parameter as in Numpy where:
```
Axis=0 => Rows (Default in most cases)
Axis=1 => Columns
```

In [ ]:
# df.mean() Returns the mean of all columns
csvdata.mean()

In [ ]:
csvdata["Fare"].mean()

In [ ]:
# df.corr() Returns the correlation between columns in a data frame
csvdata.corr()

In [ ]:
# df.count() Returns the number of non-null values in each data frame column
csvdata.count()

In [ ]:
# df.max() Returns the highest value in each column
csvdata.max()

In [ ]:
# df.min() Returns the lowest value in each column
csvdata.min()

In [ ]:
# df.median() Returns the median of each column
csvdata.median()

In [ ]:
# df.std() Returns the standard deviation of each column
csvdata.std()

### Appending columns (Series)

In [ ]:
# df.concat([df1, df2]) — add the columns in df1 to the end of df2 (rows should be identical)
firstdata: pd.DataFrame = pd.DataFrame({"first": ['A', 'B', 'C']})
seconddata: pd.DataFrame = pd.DataFrame({"second": ['D', 'E', 'F']})
pd.concat([firstdata, seconddata], axis=1)

In [ ]:
# Just add a column by accessing the new column in the dataframe and set the data.
csvdata["NewColumn"] = "Newdata"
csvdata.tail(5)

In [ ]:
# Assign new column to dataframe using lambda
csvdata.assign(Age_times_fare=lambda x: x.Fare * x.Age).tail(5)

In [ ]:
# You can also use apply() to create a new column using the data from a single column
csvdata["DoubleAge"] = csvdata["Age"].apply(lambda x: x*2 if pd.notnull(x) else 0)
csvdata.tail(5)

### Appending rows

In [ ]:
# df.concat([df1, df2]) — add the rows in df1 to the end of df2
firstdata: pd.DataFrame = pd.DataFrame(['A', 'B', 'C'], index=[1, 2, 3])
seconddata: pd.DataFrame = pd.DataFrame(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([firstdata, seconddata])

In [ ]:
# df.append(df2) — add the df2 at the end of df
firstdata: pd.DataFrame = pd.DataFrame(['A', 'B', 'C'], index=[1, 2, 3])
seconddata: pd.DataFrame = pd.DataFrame(['D', 'E', 'F'], index=[4, 5, 6])
firstdata.append(seconddata)

### Data cleanup

Data cleanup is a very important task in Pandas and there are several methods to help us here.


    df.dropna() - Drop rows containing na
    df.fillna() - 
    df.rename(columns={'old_name': 'new_ name'})

In [ ]:
# df.isnull() - Returns a boolean array/dataframe (an array/dataframe of true for missing values and false for non-missing values).
csvdata.isnull().tail(5)

In [ ]:
# df.notnull() - Returns the opposite of isnull()
csvdata.notnull().tail(5)

In [ ]:
# df.dropna() - Drops rows containing NA
csvdata.dropna().tail(5)

In [ ]:
# df.fillna() - Fills datacells containing Na with the given value
csvdata.fillna(0).tail(5)

In [ ]:
# Fills every Na with the mean value
csvdata.fillna(csvdata.mean()).tail(5)

In [ ]:
# df.rename(columns={'old_name': 'new_ name'}) - Rename a column
csvdata.rename(columns={'SibSp': 'SiblingSpouse'}).tail(5)

### Filtering

You can use different conditions to filter columns. For example, `df[df["Age"] > 30]`. You can also use & (and) or | (or) to add different conditions

In [ ]:
csvdata["PassengerId"][csvdata["Age"] > 50].count()

In [ ]:
csvdata[csvdata["Age"] > 50].tail()

In [ ]:
csvdata[(csvdata["Age"] > 50) & (csvdata["SibSp"] == 2)].tail()

In [ ]:
# filtering using the query method 
csvdata.query('Age > 50 and SibSp == 2')

### Sort

In [ ]:
# Sort dataframe by column values - Descending
csvdata.sort_values("Age").head(5)

In [ ]:
# Sort dataframe by column values - Ascending
csvdata.sort_values("Age", ascending=False).head(5)

In [ ]:
# Sort dataframe by multiple columns
csvdata.sort_values(by=['Age', 'Fare'], ascending=False).head(5)

### Grouping

In [ ]:
# Group dataframe by column - Get all female passengers
grouped = csvdata.groupby("Sex")
grouped.get_group('female').head(5)

In [ ]:
grouped = csvdata.groupby(["Sex", "Embarked"])
grouped.first()

### Joining

    
    df1.join(df2,on=col1,how='inner') — SQL-style join the columns in df1 with the columns on df2 where the rows for colhave identical values. how can be equal to one of: 'left', 'right', 'outer', 'inner'

In [ ]:
# Join using a common index
firstdata: pd.DataFrame = pd.DataFrame({"first": ['A', 'B', 'C'], "key": [1,1,3]})
seconddata: pd.DataFrame = pd.DataFrame({"second": ['D', 'E', 'F'], "key": [1,1,2]})
firstdata.set_index("key").join(seconddata.set_index("key"))

In [ ]:
# Join using a common collumn. Note that the right and left suffixes are required
firstdata: pd.DataFrame = pd.DataFrame({"first": ['A', 'B', 'C'], "key": [1,1,3]})
seconddata: pd.DataFrame = pd.DataFrame({"second": ['D', 'E', 'F'], "key": [1,1,2]})
firstdata.join(seconddata, on="key", how="inner", lsuffix='_left', rsuffix='_right')

### Exercise 5 - Import data 

For all the Pandas exercises we will be using the infamous Titanic dataset. This dataset is split in two, training and test set. Since we will not be training any machine learning model of sorts here we can just combine the two files into one dataframe.

So for the first of the Pandas exercises: Open the two csv files, `titanic_test.csv` and `titanic_train.csv` and combine them into one Pandas dataframe and show the last 10 rows.

Expected output for `tail(10)`: 

|  |PassengerId |Pclass |Name |Sex |Age |SibSp |Parch |Ticket |Fare |Cabin |Embarked |Survived 
|---: |---: |---: |---: |---: |---: |---: |---: |---: |---: |---: |---: | ---:
|881 |882 |3 |Markun, Mr. Johann |male |33.0 |0 |0 |349257 |7.8958 |NaN |S |0.0 | 
|882 |883 |3 |Dahlberg, Miss. Gerda Ulrika |female |22.0 |0 |0 |7552 |10.5167 |NaN |S |0.0 | 
|883 |884 |2 |Banfield, Mr. Frederick James |male |28.0 |0 |0 |C.A./SOTON 34068 |10.5000 |NaN |S |0.0 | 
|884 |885 |3 |Sutehall, Mr. Henry Jr |male |25.0 |0 |0 |SOTON/OQ 392076 |7.0500 |NaN |S |0.0 |
|885 |886 |3 |Rice, Mrs. William (Margaret Norton) |female |39.0 |0 |5 |382652 |29.1250 |NaN |Q |0.0 |
|886 |887 |2 |Montvila, Rev. Juozas |male |27.0 |0 |0 |211536 |13.0000 |NaN |S |0.0 |
|887 |888 |1 |Graham, Miss. Margaret Edith |female |19.0 |0 |0 |112053 |30.0000 |B42 |S |1.0 |
|888 |889 |3 |Johnston, Miss. Catherine Helen "Carrie" |female |NaN |1 |2 |W./C. 6607 |23.4500 |NaN |S |0.0 |
|889 |890 |1 |Behr, Mr. Karl Howell |male |26.0 |0 |0 |111369 |30.0000 |C148 |C| 1.0 |
|890 |891 |3 |Dooley, Mr. Patrick| male| 32.0 |0 |0 |370376 |7.7500 |NaN |Q |0.0|

In [ ]:
# Exercise 5 - Import data into a Pandas dataframe
#
# Write the code below

import pandas as pd

testdata: pd.DataFrame = pd.read_csv("data/titanic_test.csv")
trainingdata: pd.DataFrame = pd.read_csv("data/titanic_train.csv")

data: pd.DataFrame = testdata.append(trainingdata, sort=False)
data.tail(10)

### Exercise 6 - Wash the data

As you might have noticed in exercise 5, the data has some blanks that needs to be washed. There are also some columns that we might not need further on. So let us remove those as well.

So for this exercise: 
 - Remove the columns `PassengerId` and `Ticket`
 - Fill the missing `Cabin` data with the value: `X`
 - Fill the missing `Fare` data with an average for the `Fare` column
 - Fill the missing `Age` data with an averate for the `Age` column
 - Rename the `SibSp` column to `NumSiblingSpouses`
 - Rename the `Parch` column to `NumParentsChildren`

Expected output for `tail()`:


| |Pclass |Name |Sex |Age |NumSiblingSpouses |NumParentsChildren |Fare |Cabin |Embarked |Survived
| --: |--: |--: |--: |--: |--: |--: |--: |--: |--: |--:
886 |2 |Montvila, Rev. Juozas |male |27.000000 |0 |0 |13.00 |X |S |0.0
887 |1 |Graham, Miss. Margaret Edith |female |19.000000 |0 |0 |30.00 |B42 |S |1.0
888 |3 |Johnston, Miss. Catherine Helen "Carrie" |female |29.881138 |1 |2 |23.45 |X |S |0.0
889 |1 |Behr, Mr. Karl Howell |male |26.000000 |0 |0 |30.00 |C148 |C |1.0
890 |3 |Dooley, Mr. Patrick |male |32.000000 |0 |0 |7.75 |X |Q |0.0

In [ ]:
# Exercise 6 - Wash the Titanic dataset
#
# Write the code below

data.drop("PassengerId", axis=1, inplace=True)
data.drop("Ticket", axis=1, inplace=True)

data['Cabin'].fillna("X", inplace=True)
data['Fare'].fillna(data["Fare"].mean(), inplace=True)
data['Age'].fillna(data["Age"].mean(), inplace=True)

data.rename(columns={"SibSp":"NumSiblingSpouses",
                      "Parch":"NumParentsChildren"}, 
                 inplace=True)

data.tail()

### Exercise 7 - Filtering

From the combined dataframe with the changes made in Exercise 6, create a new `DataFrame` that contains all the passengers that travelled alone. (Had no siblings, spouses, parents or children travelling with them)

Expexted output for `tail()`:


| |Pclass |Name |Sex |Age |NumSiblingSpouses |NumParentsChildren |Fare |Cabin |Embarked |Survived
| --: |--: |--: |--: |--: |--: |--: |--: |--: |--: |--:
884 |3 |Sutehall, Mr. Henry Jr |male |25.0 |0 |0 |7.05 |X |S |0.0
886 |2 |Montvila, Rev. Juozas |male |27.0 |0 |0 |13.00 |X |S |0.0
887 |1 |Graham, Miss. Margaret Edith |female |19.0 |0 |0 |30.00 |B42 |S |1.0
889 |1 |Behr, Mr. Karl Howell |male |26.0 |0 |0 |30.00 |C148 |C |1.0
890 |3 |Dooley, Mr. Patrick |male |32.0 |0 |0 |7.75 |X |Q |0.0

In [ ]:
# Exercise 7 - Filtering
#
# Write the code below for creating the new dataframe
alone: pd.DataFrame = data[(data["NumSiblingSpouses"] == 0) & (data["NumParentsChildren"] == 0)]
# alone: pd.DataFrame = data.query('NumSiblingSpouses == 0 and NumParentsChildren == 0')
alone.tail()

### Exercise 8 - Create a DataFrame using results

Create a new `DataFrame` with named two named columns and four named rows (indexes) that has a column names `Alone` for the passengers travelling alone, and another column `Family` for the passengers travelling with family.
The rows are named `MaxAge`, `MinAge`, `MeanAge` and `Count` and contains the max, min and mean age as well as count for passengers that travels alone or with family.

Hint: _Google how to create a DataFrame with a index for the named "rows". (Or you could just create 3 columns and use the first column for the name)_

Expected output:


| | Alone| Family
| --: | --: | --:
MaxAge| 80.000000| 76.000000
MinAge| 5.000000| 0.170000
MeanAge| 31.099022| 28.027325
Count| 790.000000| 519.000000

In [ ]:
# Exercise 8 - Create a DataFrame using results
#
# Write the code below

# family : pd.DataFrame = data.query('NumSiblingSpouses > 0 or NumParentsChildren > 0')
family: pd.DataFrame = data[(data["NumSiblingSpouses"] > 0) | (data["NumParentsChildren"] > 0)]

datadict: dict = {
    "Alone": [alone["Age"].max(), alone["Age"].min(), alone["Age"].mean(), alone["Age"].count()],
    "Family": [family["Age"].max(), family["Age"].min(), family["Age"].mean(), family["Age"].count()]
}
    
newframe: pd.DataFrame = pd.DataFrame(datadict, index =["MaxAge", "MinAge", "MeanAge", "Count"]) 
newframe

### Exercise 9 - Create new columns (features)

Creating new features in a dataset is very important in machine learning. And using Pandas this can be very easy to do.

In the titanic dataset the first letter in the Cabin number is the deck that the cabin is located at.

Create a new column names `Deck` that contains this deck. If the cabin number is `X` (we replaced missing cabin numbers with `X` earlier) then use the letter `M` for "missing".

Hint: _Have a look at lambdas from last workshop_

Expected output for `tail(5)`:

| |Pclass |Name |Sex |Age |NumSiblingSpouses |NumParentsChildren |Fare |Cabin |Embarked |Survived | Deck
| --: |--: |--: |--: |--: |--: |--: |--: |--: |--: |--: |--:
886 |2 |Montvila, Rev. Juozas |male |27.000000 |0 |0 |13.00 |X |S |0.0 |M
887 |1 |Graham, Miss. Margaret Edith |female |19.000000 |0 |0 |30.00 |B42 |S |1.0 |B
888 |3 |Johnston, Miss. Catherine Helen "Carrie" |female |29.881138 |1 |2 |23.45 |X |S |0.0 |M
889 |1 |Behr, Mr. Karl Howell |male |26.000000 |0 |0 |30.00 |C148 |C |1.0 |C
890 |3 |Dooley, Mr. Patrick |male |32.000000 |0 |0 |7.75 |X |Q |0.0 |M

In [ ]:
# Exercise 8 - Create new features
#
# Write the code below

data["Deck"] = data["Cabin"].apply(lambda s: s[0] if s[0] is not "X" else "M")
data.tail(5)

## Matplotlib

Matplotlib needs a little mention at the end here. This workhop will not concentrate on teaching the basic usage of matplotlib. It is a library that is specially designed for drawing graphs, charts etc.
Matplotlib is integrated into Pandas with the methods `plot()` and property `plot`. This mak

Below is a few very simple examples how matplotlib can be used with Pandas

In [ ]:
# Does not really make sense to do, but why not?
csvdata.plot()

In [ ]:
# Render a bar plot of the number of siblings and spouses.
csvdata["SibSp"].value_counts().plot.bar()

In [ ]:
# Histogram over the age distribution of the passengers
csvdata["Age"].plot.hist()